In [1]:
import pandas as pd

/var/folders/fj/25hghm0n7n33b98vlpmy81dm0000gn/T/ipykernel_43707/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_excel('data/covertype_100k.xlsx')

In [5]:
df.head()

   Numero    X1   X2  X3    X4   X5    X6   X7   X8   X9   X10
0       1  3816   15  13  1075  407  4662  208  212  139  2751
1       2  3205   53  10   212   14  3379  226  219  127  3520
2       3  3079  214   3   351   25  2859  216  243  163  1719
3       4  3185  286  10   162   10   579  191  240  188  1302
4       5  3186  162  14   153   31  1337  233  243  137  1805