# Factorial analysis starting exercise
Having an students list with 3 notes in thiferent messures x1 note max 10, x2 note max 20 and x3 note max 100 create a factorial analysis with this data.

In [15]:
import pandas as pd
import sklearn as skl
import matplotlib.pyplot as plt
from math import sqrt

In [3]:
df = pd.read_csv('data/students.csv', sep=';', )
df

   student  x1  x2  x3
0        1   5  18  70
1        2   6  12  95
2        3   1  16  80
3        4   8  10  65

### Data preparation
First of all prepare data using the standarization.

for this data estandarization wee follow this steps
- Get data mean $$\mu = \frac{{\sum_{i=1}^{n}} - X_i}{n}$$

- Get data standard deviation $$ \sigma = \sqrt{\frac{({\sum{x1 - \mu}})^2}{N}} $$

- $ \sigma $: Standarization
- $ \mu $: Mean
- $ x $: Each element in the data sample

In [29]:
def normalizer(list_values:list):
    # Mean
    mean = sum(list_values)/len(list_values)
    # Estandar deviation
    est_dev = sqrt(sum([(x - mean)**2 for x in list_values])/(len(list_values)-1))
    return [(x - mean)/est_dev for x in list_values]

In [31]:
x1_normalized = normalizer(df['x1'].to_list())
x2_normalized = normalizer(df['x2'].to_list())
x3_normalized = normalizer(df['x3'].to_list())
x1_normalized, x2_normalized, x3_normalized

([0.0, 0.3396831102433787, -1.3587324409735149, 1.0190493307301363],
 [1.0954451150103321,
  -0.5477225575051661,
  0.5477225575051661,
  -1.0954451150103321],
 [-0.5669467095138409,
  1.3228756555322954,
  0.18898223650461363,
  -0.944911182523068])